// SASS!

// Collapsible Previews
span {
	display: inline-block;
}

// md-collapsible input elements

.md-input-container {
	margin-top: 5px;
}

.md-input {
	margin-bottom: 0;
}

.md-datepicker-button {
  display: none !important;   
}

// second border removal on date pick
.md-datepicker-input-container {
  margin-left: 0 !important;
  border-bottom: none!important;    
}

.closedUpsell {
	@extend .blue, .lighten-4;
}

.primaryBgColor {
  @extends .blue-grey;
}

.primaryText {
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: inherit;
  
}
.tabsText {
  @extend .grey-text, .text-darken-1;
}

.listText {
  @extends .primaryText;
  font-weight: 400;
}
.secondaryText {
  font-style: italic;
}

.tertiaryText {
  @extends .secondaryText;
  font-weight: thin;
}

// icon + txt spacing
.dropdownIcons {
  padding-right: 10%;
}

// create space between nav and upsells
.upsellList {
  margin-top: 40px!important;
  // background-image: url("/images/jPollock.jpg");
}

.tabs, .tab {
  padding: 0!important;
  // fixes horizontal scrollbar issue on tabs
  overflow-x: hidden!important;
}

.fab, .fixed-action-btn {
  bottom: 45px;
  right: 24px;
}

.newUpsellStyle {
  // display: block!important;
}
body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
    // permanent scroll bar
    overflow-y: scroll;
}

// Login Styles

.signin-card {
  max-width: 350px;
  border-radius: 2px;
  margin: 20px auto;
  padding: 20px 40px;   
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
  0 6px 6px rgba(0, 0, 0, .23); // shadow depth 3
}

.signin-card { 
  .logo-image, h1, p {
    text-align: center;
  }    
}

// Font Styles

.display1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  color: #757575;
  text-transform: inherit;
  letter-spacing: inherit;
}

.display2 {

	@extend .display1;
	padding-top: 5%;
	font-size: 1.2em;
	cursor: pointer;		
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}