// SASS!

// Collapsible Previews
span {
	display: inline-block;
}

.collapsiblePreview:after {
	content: " | ";
}

// md-collapsible input elements

.md-input-container {
	margin-top: 5px;
}

.md-input {
	margin-bottom: 0;
}

.closedUpsell {
	@extend .blue, .lighten-4;
}