<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<section>
  			<h4>Login/Register</h4>

        <div class="row">
    			<div class="input-field col s6 offset-s3">
      			<input id="userNameInput" class="validate center-align" type="text" ng-model="account.userName">
            <label for="userNameInput">User Name:</label>
          </div>
          <div class="input-field col s6 offset-s3">
            <input id="emailInput" class="validate center-align" type="email" autofocus="true" ng-model="account.email">
            <label for="emailInput">Email:</label>
          </div>
          <div class="input-field col s6 offset-s3">
            <input id="passwordInput" class="validate center-align" type="password" ng-model="account.password">
            <label for="passwordInput">Password:</label>
    			</div>
        </div>

        <div class="row">
    			<button class="waves-effect waves-light btn" ng-click="login()">Login</button>
    			<button class="waves-effect waves-light btn" ng-click="register()">Register</button>
        </div>

			</section>
		</div>
	</div>
</div>