<article>

  <header><h5>User: {{ $parent.currentUser.userName }}</h5></header>
  <header><h5>Permitted View of Upsells</h5></header>
	
	<!-- ng-Repeat through upsells and display only those which meet access permission -->
 	<ul class="collapsible popout" data-collapsible="accordion">

		<!-- ngRepeat li -->
    <li class="hoverable" ng-repeat="upsell in upsells | orderBy: 'closed'" ng-show="viewAllowed(upsell)">

    <!-- Collapsible HEADER -->
    <div class="collapsible-header" ng-class="{ 'blue': upsell.closed }">
    	<i class="material-icons">filter_drama</i>
			<span class="left">{{ upsell.AccountName }}</span>
			<span class="left">{{ $index }}</span>
			<span class="left" ng-show="!upsell.AccountName">NEW UPSELL</span>
			<span class="right">Net ${{ upsell.NewMRR - upsell.PreviousMRR }}</span>
			<span class="collapsiblePreview right" ng-if="upsell.closed">Closed</span>
			<span class="collapsiblePreview right" ng-if="!upsell.closed">Open</span>
  	</div>

  	<!-- Collapsible BODY -->
		<div class="collapsible-body"> 
			<form class="row center-align" name="testForm"> <!-- temp change to a Form -->
				<div class="col s12">

					<!-- Column 1: Account Basics -->
					<div class="col s2 offset-s1">
						<h6 class="center-align">Account Details</h6>
						<div class="divider"></div>

						<!-- Account Name -->
						<div class="col s12">
							<md-input-container class="md-block">
				        <label>Account Name</label>
				        <input required md-no-asterisk="" name="AccountName" ng-model="upsell.AccountName" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.AccountName.$error" ng-show="testForm.AccountName.$touched">
				          <div ng-message="required">This is required.</div>
				        </div>
				      </md-input-container>
						</div>

						<!-- Account ID -->
						<div class="col s12">
							<md-input-container class="md-block">
				        <label>Account ID</label>
				        <input ng-pattern="/^[0-9]{6}$/" required md-no-asterisk="" name="AccountID" ng-model="upsell.AccountID" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.AccountID.$error" ng-show="testForm.AccountID.$touched">
				          <div ng-message="required">This is required.</div>
				          <div ng-message="pattern">Must be a six digit number.</div>
				        </div>
				      </md-input-container>
			      </div>

					</div>	

					<!-- Column 2: Old Contract Info -->
					<div class="col s2">
						<h6 class="center-align">Previous Contract</h6>
						<div class="divider"></div>

						<!-- Column 2: Old Contract Info -->
						<div class="col s12">
							<md-input-container class="md-block">
				        <label>Previous Contract ID</label>
				        <input ng-pattern="/^[0-9]{6}$/" required md-no-asterisk="" name="PreviousContractID" ng-model="upsell.PreviousContractID" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.PreviousContractID.$error">
				          <div ng-message="required">This is required.</div>
				          <div ng-message="pattern">Must be 6 digits.</div>
				        </div>
				      </md-input-container>
			      </div>

						<!-- Previous MRR -->
						<div class="col s12">
							<md-input-container class="md-block">
				        <label>Previous MRR</label>
				        <input ng-pattern="/^[0-9]*$/" required md-no-asterisk="" name="PreviousMRR" ng-model="upsell.PreviousMRR" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.PreviousMRR.$error" ng-show="testForm.PreviousMRR.$touched">
				          <div ng-message="required">This is required.</div>
				          <div ng-message="pattern">Must be a number.</div>
				        </div>
				      </md-input-container>
			      </div>


					</div>
					
					<!-- Column 3: New Contract Info -->
					<div class="col s4">
						<h6 class="center-align">New Contract</h6>
						<div class="divider"></div>

						<!-- New Contract ID -->
						<div class="col s6">
							<md-input-container class="md-block">
				        <label>New Contract ID</label>
				        <input ng-pattern="/^[0-9]{6}$/" name="NewContractID" ng-model="upsell.NewContractID" ng-change="upsell.edited = true" ensure-expression="{ greaterThanOld: upsell.NewContractID > upsell.PreviousContractID, newMRRCheck: testForm.NewMRR.$valid }">
				        <div ng-messages="testForm.NewContractID.$error" ng-show="testForm.NewContractID.$touched">
				          <div ng-message="pattern">Must be 6 digits.</div>
				          <div ng-message="greaterThanOld">New Contract ID must be greater than Previous Contract ID.</div>
				          <div ng-message="newMRRCheck">Valid New MRR must be present with New Contract.</div>
				        </div>
				      </md-input-container>
						</div>

						<!-- Order ID -->
						<div class="col s6">
							<md-input-container class="md-block">
				        <label>Order ID</label>
				        <input ng-pattern="/^[0-9]{7}$/" required md-no-asterisk="" name="OrderID" ng-model="upsell.OrderID" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.OrderID.$error" ng-show="testForm.OrderID.$touched">
				          <div ng-message="required">This is required.</div>
				          <div ng-message="pattern">Must be a 7 digit number.</div>
				        </div>
				      </md-input-container>
						</div>

						<!-- New MRR -->
						<div class="col s6">
							<md-input-container class="md-block">
				        <label>New MRR</label>
				        <input ng-pattern="/^[0-9]*$/" required name="NewMRR" ng-model="upsell.NewMRR" ng-change="upsell.edited = true" ensure-expression="{}">
				        <div ng-messages="testForm.NewMRR.$error" ng-show="testForm.NewMRR.$touched">
				          <div ng-message="pattern">Must be a number.</div>
				          <div ng-message="required">Required</div>
				        </div>
				      </md-input-container>
						</div>

						<!-- One Time Fee -->
						<div class="col s6">
							<md-input-container class="md-block">
				        <label>One Time Fee</label>
				        <input ng-pattern="/^[0-9]*$/" required md-no-asterisk="" name="OneTimeFee" ng-model="upsell.OneTimeFee" ng-change="upsell.edited = true">
				        <div ng-messages="testForm.OneTimeFee.$error" ng-show="testForm.OneTimeFee.$touched">
				          <div ng-message="required">This is required.</div>
				          <div ng-message="pattern">Must be a number.</div>
				        </div>
				      </md-input-container>
						</div>

					</div>

					<!-- Column 4: Closed Info -->
					<div class="col s2">
						<h6 class="center-align">Upsell Status</h6>
						<div class="divider"></div>
						
						<!-- Date Sent -->
						<div class="col s12">
							<label class="center-align">Date Sent</label>
					  	<md-datepicker ng-model="upsell.DateSent" md-placeholder="Enter date sent" ng-change="upsell.edited = true"></md-datepicker>
						</div>
						
						<!-- Date Closed -->
						<div class="col s12">
							<label class="center-align">Date Closed</label>
					  	<md-datepicker ng-model="upsell.DateClosed" md-placeholder="Enter date closed" md-min-date="upsell.DateSent" ng-change="upsell.edited = true"></md-datepicker>
				  	</div>

						<!-- Closed Switch -->
						<div class="col s12">
							<md-checkbox ng-model="upsell.closed" aria-label="Checkbox 1" ng-change="upsell.edited = true">
				      	<label ng-if="upsell.closed">Closed</label>
				      	<label ng-if="!upsell.closed">Working</label>							
	          	</md-checkbox>
						</div>
						
						
						<!-- Save/Delete Buttons -->
						<div class="col s12">
							<!-- Save button updates already posted upsells -->
							<button type="button" ng-show="upsell.edited && upsell.id" class="waves-effect waves-teal btn-flat" ng-click="editUpsell(upsell.id)"  ng-class="{ 'disabled': testForm.$invalid }" ng-disabled="testForm.$invalid">Save</button>
							<!-- Add button adds DOM only new upsell -->
							<button type="button" ng-show="!upsell.id" class="waves-effect waves-teal btn-flat" ng-click="addUpsell(upsell)">Add</button>

							<button type="button" ng-show="upsell.id" class="waves-effect waves-teal btn-flat" ng-click="deleteUpsell(upsell.id)">Delete</button>
							<button type="button" ng-show="!upsell.id" class="waves-effect waves-teal btn-flat" ng-click="cancelAdd($index)">Cancel</button>
						</div>
						{{ upsell | json }}
					</div>

				</div> <!-- End Main Column -->
			</form> <!-- End Row -->
			
		</div>
		</li>
  </ul>

	<div>
		<button type="button" ng-click="addTestUpsell()">Add Test Upsell</button>
	</div>

	<button class="btn-floating btn-large waves-effect waves-light teal" ng-click="addUpsellLocal()"><i class="material-icons">add</i></button>

	<!-- ADD UPSELL MODAL -->
  <div id="upsellModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Add Upsell</h4>

			<!-- Upsell Guidelines -->
      <div> 
      	<h6>Guidelines</h6>
      	<ol>
      		<li>Previous Contract ID, New Contract ID and Order Number should all be different</li>
      		<li>If Net New, Previous Contract section should be blank (Contract ID and MRR)</li>
      		<li>Date Closed must be after Date Sent</li>
      	</ol>
      </div>

			<!-- Upsell Fields -->
    	<h6>Upsell Fields</h6>
			<div>
				<ol>
			    <li>addAccountName: {{addAccountName}}</li>
			    <li>addAccountID: {{addAccountID}}</li>
			    <li>addPreviousContractID: {{addPreviousContractID}}</li>
			    <li>addPreviousMRR: {{addPreviousMRR}}</li>
			    <li>addNewContractID: {{addNewContractID}}</li>
			    <li>addNewMRR: {{addNewMRR}}</li>
			    <li>addOrderID: {{addOrderID}}</li>
			    <li>addDateSent: {{addDateSent}}</li>
			    <li>addDateClosed: {{addDateClosed}}</li>
			    <li>addTerm: {{addTerm}}</li>
			    <li>addOneTimeFee: {{addOneTimeFee}}</li>
				</ol>
			</div>
  </div> <!-- End Add Upsell Modal-->


</article>

<div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" 
      ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
	<input ng-model="todo.completed" type="checkbox"/>
	<span ng-click="todo.completed = !todo.completed; todo.edited"></span>
	<label ng-click="editing = true" ng-hide="editing" ng-click="helloWorld()">
	  {{todo.name}}</label>
	<input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
	<div class="actions">
	  <a href="" ng-click="editing = !editing">Edit</a>
	  <a href="" ng-click="saveTodos(todo)">Save</a>
	  <a href="" ng-click="deleteTodo(todo, $index)"  class="Delete">delete</a>
	</div>
</div>