<article class="upsellList container">
  <div class="row">
    <div class="col s12 tabs">
      <ul class="tabs secondaryText">
				<li class="tab col s3"><a ng-click="filterOption = 'closed'"><i class="dropdownIcons tiny material-icons">thumb_up</i>Status</a></li>
				<li class="tab col s3" ng-hide="!$parent.currentUser.admin"><a ng-click="filterOption = 'CSM'"><i class="dropdownIcons tiny material-icons">contacts</i>CSM</a></li>
				<li class="tab col s3"><a ng-click="filterOption = 'AccountName'"><i class="dropdownIcons tiny material-icons">sort_by_alpha</i>Account Name</a></li>
				<li class="tab col s3"><a ng-click="filterOption = '-NewMRR'"><i class="dropdownIcons tiny material-icons">toll</i>MRR</a></li>
      </ul>
    </div>
  </div>	

	<!-- ng-Repeat through upsells and display only those which meet access permission -->
 	<ul class="collapsible popout upsellList z-depth-5" data-collapsible="accordion">

		<!-- custom directive for upsells -->
		<upsell-collapsible></upsell-collapsible>

  </ul>
	
	<!-- glorious Google FAB, with extendable options -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a ng-click="addUpsellLocal()" class="btn-floating btn-large blue-grey darken-2">
      <i class="large material-icons">note_add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue-grey lighten-3" ng-click="addTestUpsell()"><i class="material-icons">input</i></a></li>
      <li><a class="btn-floating blue-grey lighten-1" ng-csv="getUpsells()" filename="export.csv" csv-header="getHeaders()"><i class="material-icons">play_for_work</i></a></li>
    </ul>
  </div>

</article>